<form class="login100-form flex-sb flex-w" action="" method="post">
    <div class="wrap-input100 m-b-16">
        <input class="input100" type="password" placeholder="New Password">
        <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100 m-b-16">
        <input class="input100" type="password" placeholder="Confirm Password">
        <span class="focus-input100"></span>
    </div>
    <div class="container-login100-form-btn m-t-17">
        <div class="w-full beforeNone text-center">
            <input type="submit" class="nv-login-submit login100-form-btn" name="submit">
        </div>
    </div>
</form>